@media screen and(max-width: 1050px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 550px) {
    .grid-container {
        .customer {
            width: 420px;
            height: 200px;
            font-size: 12px;
        }
    }
}